/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 16, 2016, 3:19:08 PM
    Author     : Timothy
*/

html {
    height: 100%;
    background: #C0C0C0;
}

.body {
   min-height: 100%;
   width: 1000px; 
   margin: 20px auto;
   padding: 20px;
   font-size: 15px; 
   font-family: "Verdana"; 
   border: 1px solid black;  }    
 
#index {
   background: #A3F5A3; //  RED: #ff7272
}

#assignments {
    background: #8CBCE2;
}